@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//db.onlinewebfonts.com/c/e5c490a944bc2b2746f0c851501e46c7?family=AvenirNextW10-Bold);
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.g327 {
  border-color: #302f30;
}

@font-face {
  font-family: 'AvenirNextW10-Bold';
  src: url('//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.eot');
  src: url('//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.svg#AvenirNextW10-Bold')
      format('svg');
}

.Avenir {
  font-family: AvenirNextW10-Bold;
  font-display: swap;
}

.grr {
  grid-template-columns: repeat(2, 1fr);
}

.txg {
  color: #b8bcbf;
}

.ld-04 {
  letter-spacing: 0.025em;
}

.lh-6 {
  line-height: 1.08;
}

.text-80 {
  font-size: 80px;
}

.font-4 {
  font-family: Inter, sans-serif;
}

.tr04 {
  transition: 0.4s;
}

.clearNav {
  backdrop-filter: saturate(180%) blur(5px) !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.fsac4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 32px;
}

@media (min-width: 720px) {
  .fsac4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ktq4 {
  background-color: #101111;
  padding: 2rem;
  border-radius: 10px;
}

.fkrr1 {
  font-family: 'Inter', sans-serif;
}

.text-dotted {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #0af5f4;
}
.text-wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.icon-change {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(18deg) brightness(109%)
    contrast(101%);
}

.badge {
  display: inline-block;
  font-size: 80%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .badge {
    -webkit-transition: none;
    transition: none;
  }
}
a.badge:hover,
a.badge:focus {
  text-decoration: none;
}
.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.rounded-10 {
  border-radius: 10rem;
}

.badge-success-soft {
  background-color: rgba(173, 140, 173, 0.1);
  color: #080808;
}

.flex-100 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.py-xl {
  margin: 0rem 0 0;
}

.text-dotted-adaptive {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.text-dotted-adaptive:hover {
  text-decoration-color: #0af5f4;
}

.text-dotted-adaptive-nohover {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.fsac4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 32px;
}

@media (min-width: 720px) {
  .fsac4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ktq4 {
  background-color: #101111;
  padding: 2rem;
  border-radius: 10px;
}

.highlight-c {
  background-color: #0af5f4;
}

.insideStyles {
  padding: 20;
  width: 40rem;
  position: absolute;
  top: 32%;
  left: 30%;
}

.highlighting {
  background-color: #0af5f4;
}

@media (max-width: 720px) {
  .insideStyles {
    width: 20rem;
    top: 20%;
    left: 8%;
  }
}
